
body {
  margin: 0;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


input, select { font-size: 100%; }
input {
    -webkit-appearance: none;
    border-radius: 0px;
}

.wrapper {
  width: 85%;
  max-width: 1080px;
  margin: 0 auto;
  padding-bottom: 1em;
  zoom: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.4;
}

